<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', path='today.css') }}" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <a href="/logout" class="header" style="margin-left: 2em; float: right">Выйти</a>
  <p class="header" style="float: right">Привет, {{ request.session.username }} !</p>
  <a href="/tasks/new_employee/1" class="header" style="margin-left: 2em; float: right">Новые сотрудники</a>
  <a href="/tasks/tech_help/1" class="header" style="margin-left: 2em; float: right">Техническая помощь</a>
  <a href="/tasks/dismissal/1" class="header" style="margin-left: 2em; float: right">Увольнения</a>
  <a href="/today" class="header" style="margin-left: 2em; float: right">Задачи на сегодня</a>
  <h3 class="header">{% block page_title %}{% endblock %}</h3>
{% block main %}{% endblock %}

</body>
</html>
