<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', path='login.css') }}" rel="stylesheet">
</head>

<body>
<div class="content">
  <h2>Врата в админку</h2>
    {% if error %}<p class="error">{{ error }}</p>{% endif %}
  <button onclick="document.getElementById('id01').style.display='block'"
          style=display-block: auto">Войти</button>
</div>

<div id="id01" class="modal">
  <form class="modal-content animate" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'"
            class="close" title="Close Modal">&times;</span>
      <img src="{{ url_for('static', path='important_person.jpg') }}"
           alt="Avatar" class="avatar">
    </div>
    <div class="container">
      <label for="username"><b>Логин</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="password"><b>Пароль</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Войти</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button"
              onclick="document.getElementById('id01').style.display='none'"
              class="cancelbtn">Отмена</button>
    </div>
  </form>
</div>

<script src="{{ url_for('static', path='getModal.js') }}" type="text/javascript"></script>

</body>
</html>
