{% extends "tasks.html" %}
{% block content %}
    <table>
  <tr>
    <th>От кого</th>
    <th>Время получения задачи</th>
    <th>ФИО нового сотрудника</th>
    <th>Дата выхода</th>
    <th>Должность</th>
    <th>Наставник</th>
    <th>Требуется</th>
    <th>Статус</th>
    <th>Готово?</th>
    <th>Исполнитель</th>
    <th>Время закрытия</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{ task.from_user_name }}</td>
    <td>{{ task.created_time() }}</td>
    <td>{{ task.employee_fullname }}</td>
    <td>{{ task.date_for_human() }}</td>
    <td>{{ task.position }}</td>
    <td>{{ task.mentor }}</td>
    <td>{{ task.required }}</td>
    <td>{{ task.status }}</td>
    <td>
      {% if task.is_done %}
        <i class="fa fa-check">
      {% else %}
        <i class="fa fa-remove">
      {% endif %}
    </td>
    <td>{{ task.successor.user_name }}</td>
    <td>{{ task.closed_time() }}</td>
  </tr>
  {% endfor %}
  </table>
{% endblock %}
