{% extends "base.html" %}
{% block title %}{{ task_type }}{% endblock %}
{% block page_title %}{{ task_type }}{% endblock %}
{% block main %}
<div style="margin-top: 20px; margin-bottom:20px;">
    {% if prev %}<a href="{{ prev }}" style="margin-left: 20px"> <i class="fa fa-arrow-left"></i> </a>{% endif %}
    {% if next %}<a href="{{ next }}"> <i class="fa fa-arrow-right"></i> </a>{% endif %}
</div>
  {% if not tasks %}<p>Пусто</p>{% else %}
    {% block content %}{% endblock %}
  {% endif %}
{% endblock %}
