{% extends "tasks.html" %}
{% block content %}
    <table>
  <tr>
    <th>От кого</th>
    <th>Время получения задачи</th>
    <th>ФИО инициатора</th>
    <th>Тип задачи</th>
    <th>Описание</th>
    <th>Файл задачи</th>
    <th>Файл решения</th>
    <th>Готово?</th>
    <th>Исполнитель</th>
    <th>Время закрытия</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{ task.from_user_name }}</td>
    <td>{{ task.created_time() }}</td>
    <td>{{ task.initiator_fullname }}</td>
    <td>{{ task.task_type }}</td>
    <td>{{ task.description }}</td>
    <td>
      {% if task.source_path %}
        {{ task.source() | safe }}
      {% else %}
        <i class="fa fa-minus-circle"></i>
      {% endif %}
    </td>
    <td>
      {% if task.solution_path %}
        {{ task.solution() | safe }}
      {% else %}
        <i class="fa fa-minus-circle"></i>
      {% endif %}
    </td>
    <td>
      {% if task.is_done %}
        <i class="fa fa-check">
      {% else %}
        <i class="fa fa-remove">
      {% endif %}
    </td>
    <td>{{ task.successor.user_name }}</td>
    <td>{{ task.closed_time() }}</td>
  </tr>
  {% endfor %}
  </table>
{% endblock %}
