{% extends "base.html" %}
{% block title %}Задачи на сегодня{% endblock %}
{% block page_title %}Сегодня {{ today }}{% endblock %}
{% block main %}
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'New')">Новые сотрудники</button>
  <button class="tablinks" onclick="openCity(event, 'Tech')">Техническая помощь</button>
  <button class="tablinks" onclick="openCity(event, 'Dismissal')">Увольнения</button>
</div>

<div id="New" class="tabcontent">
  <h3>Новые сотрудники</h3>
  {% if not new_employee %}<p>Пусто</p>{% else %}
    <table>
  <tr>
    <th>От кого</th>
    <th>Время получения задачи</th>
    <th>ФИО нового сотрудника</th>
    <th>Дата выхода</th>
    <th>Должность</th>
    <th>Наставник</th>
    <th>Требуется</th>
    <th>Статус</th>
    <th>Готово?</th>
    <th>Исполнитель</th>
    <th>Время закрытия</th>
  </tr>
  {% for task in new_employee %}
  <tr>
    <td>{{ task.from_user_name }}</td>
    <td>{{ task.created_time() }}</td>
    <td>{{ task.employee_fullname }}</td>
    <td>{{ task.date_for_human() }}</td>
    <td>{{ task.position }}</td>
    <td>{{ task.mentor }}</td>
    <td>{{ task.required }}</td>
    <td>{{ task.status }}</td>
    <td>
      {% if task.is_done %}
        <i class="fa fa-check">
      {% else %}
        <i class="fa fa-remove">
      {% endif %}
    </td>
    <td>{{ task.successor.user_name }}</td>
    <td>{{ task.closed_time() }}</td>
  </tr>
  {% endfor %}
  </table>
  {% endif %}
</div>

<div id="Tech" class="tabcontent">
  <h3>Техническая помощь</h3>
  {% if not tech_help %}<p>Пусто</p>{% else %}
  <table>
  <tr>
    <th>От кого</th>
    <th>Время получения задачи</th>
    <th>ФИО инициатора</th>
    <th>Тип задачи</th>
    <th>Описание</th>
    <th>Файл задачи</th>
    <th>Файл решения</th>
    <th>Готово?</th>
    <th>Исполнитель</th>
    <th>Время закрытия</th>
  </tr>
  {% for task in tech_help %}
  <tr>
    <td>{{ task.from_user_name }}</td>
    <td>{{ task.created_time() }}</td>
    <td>{{ task.initiator_fullname }}</td>
    <td>{{ task.task_type }}</td>
    <td>{{ task.description }}</td>
    <td>
      {% if task.source_path %}
        {{ task.source() | safe }}
      {% else %}
        <i class="fa fa-minus-circle"></i>
      {% endif %}
    </td>
    <td>
      {% if task.solution_path %}
        {{ task.solution() | safe }}
      {% else %}
        <i class="fa fa-minus-circle"></i>
      {% endif %}
    </td>
    <td>
      {% if task.is_done %}
        <i class="fa fa-check">
      {% else %}
        <i class="fa fa-remove">
      {% endif %}
    </td>
    <td>{{ task.successor.user_name }}</td>
    <td>{{ task.closed_time() }}</td>
  </tr>
  {% endfor %}
  </table>
  {% endif %}
</div>

<div id="Dismissal" class="tabcontent">
  <h3>Увольнения</h3>
  {% if not dismissal %}<p>Пусто</p>{% else %}

  <table>
  <tr>
    <th>От кого</th>
    <th>Время получения задачи</th>
    <th>ФИО инициатора</th>
    <th>Дата увольнения</th>
    <th>ФИО увольняемого</th>
    <th>Оборудование</th>
    <th>Готово?</th>
    <th>Исполнитель</th>
    <th>Время закрытия</th>
  </tr>
  {% for task in dismissal %}
  <tr>
    <td>{{ task.from_user_name }}</td>
    <td>{{ task.created_time() }}</td>
    <td>{{ task.initiator_fullname }}</td>
    <td>{{ task.date_for_human() }}</td>
    <td>{{ task.dismissed_fullname }}</td>
    <td>{{ task.equipment }}</td>
    <td>
      {% if task.is_done %}
        <i class="fa fa-check">
      {% else %}
        <i class="fa fa-remove">
      {% endif %}
    </td>
    <td>{{ task.successor.user_name }}</td>
    <td>{{ task.closed_time() }}</td>
  </tr>
  {% endfor %}
  </table>
  {% endif %}
</div>

<script type="text/javascript" src="{{ url_for('static', path='tab.js') }}"></script>
{% endblock %}
